.contato_main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato_main_div h1 {
    margin-top: 3rem;
    color: #377799;
    text-align: left;
}

.contato_main_container {
    display: flex;
}

.contato_main_container > * {
    margin: 2rem 2rem;
}

.contato_main_div p {
    margin: 0;
    margin-bottom: 1rem;
}

.contato_main_div a {
    font-size: 1.2rem;
    color: #3f3f3f;
    letter-spacing: 1px;
    line-height: 1.7rem;
}

.mapa_div {
    width: 150%;
}

.contato_main_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
}

.contato_main_container > * {
    flex: 1;  
}

.linha {
    border-radius: 20px;
    height: 100%;
    width: 0px;
    border:#BFBEBE solid 1px;
}