.main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos_main_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.servicos_main_div h1 {
    margin-top: 3rem;
    color: #377799;
    text-align: center;
}

.servicos_div {
    width: 60%;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.servicos_div > p {
    margin-right: 2rem;
}

.servicos_div > img {
    margin-left: 2rem;
}

.servicos_div img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.text_div p{
    font-size: 1rem;
}
